.background-changer {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}