
.profile-wrapper { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 1001; }

.profile-icon {
  background-color: #6b4c3b;
  color: #fdf6f0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  font-weight: bold;
      font-size: 27px; 
  cursor: pointer;
  overflow: hidden;
}


.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-dropdown { 
margin-top: 12px; 
background-color: #fdf6f0; 
color: #6b4c3b;
padding: 14px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
 text-align: center; }


 .profile-name { 
 font-size: 16px;
 margin-bottom: 8px; 
}
.logout-btn {
  background-color: #c94f3f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #a63b2f;
}
